name: checking
on:
  pull_request:
    types: [opened, reopened, labeled, unlabeled, synchronize]

jobs:
  bump-version:
    # Skip on Pull Request Close event.
    # if: "!(github.event_name == 'pull_request' && !github.event.pull_request.merged)"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        # with:
        #   fetch-depth: 0
      # This is to fast-forward the commits from the base branch to the current branch
      - id: fast-forward
        run: |
          git config pull.ff only

      - id: branch
        run: |
          echo First ref :: ${GITHUB_REF##*/}
          GIT_BRANCH=${GITHUB_BASE_REF:-${GITHUB_REF#refs/heads/}}
          echo branch :: $GIT_BRANCH
          echo second ref :: ${GITHUB_REF#refs/*/}
          echo third ref :: ${{ github.ref }}
          echo head ref :: ${{ github.head_ref }}
          echo base ref :: ${{ github.base_ref }}
          echo GITHUB_SERVER_URL :: ${GITHUB_SERVER_URL}
          echo GITHUB_REPOSITORY :: ${GITHUB_REPOSITORY}
          echo GITHUB_RUN_ID :: ${GITHUB_RUN_ID}
          echo TOKEN ::  ${{ github.token }}
          echo PR_NUMBER :: ${{ github.event.number }}
          echo PR_TITLE :: ${{ github.event.pull_request.title }}
          # git fetch --tags
          # # This suppress an error occurred when the repository is a complete one.
          # git fetch --prune --unshallow || true
          # git describe --abbrev=0 --tags

      # - uses: actions-ecosystem/action-release-label@v1
      #   id: release-label
      
      # - uses: actions-ecosystem/action-get-latest-tag@v1
      #   id: get-latest-tag
      #   # if: ${{ steps.release-label.outputs.level != null }}

      # Bump version on merging Pull Requests with specific labels. (bump:major,bump:minor,bump:patch)
      - id: bumpversion
        # if: github.event.pull_request.merged
        env:
          PR_LABELS: ${{ toJson(github.event.pull_request.labels) }}
          ORG_GITHUB_USER: org_sri_user
          GITHUB_TOKEN: ${{ github.token }}
          PR_NUMBER: ${{ github.event.number }}
          PR_TITLE: ${{ github.event.pull_request.title }}
        run: bash -x .github/scripts/tags_bump_version.sh -l "${PR_LABELS}" -u "${ORG_GITHUB_USER}" -x "${GITHUB_TOKEN}" -n "${PR_NUMBER}" -t "${PR_TITLE}" --dryrun
          